.animais {
  grid-area: animais;
  display: grid;
  grid-template:
    "titulo titulo titulo"
    ".      galeria descricao"/
    90px 300px 1fr;
  gap: 20px;
}

.galeria {
  grid-area: galeria;
  height: 500px;
  grid-area: galeria;
  overflow-y: scroll;
}

.galeria li {
  cursor: pointer;
}

.galeria::-webkit-scrollbar {
  width: 18px;
}

.galeria::-webkit-scrollbar-thumb {
  background: var(--c3);
  border-left: 4px solid var(--c1);
  border-right: 4px solid var(--c1);
}

.galeria::-webkit-scrollbar-track {
  background: var(--c1);
}

.descricao {
  grid-area: descricao;
}

.descricao section {
  margin-bottom: 48px;
}

.descricao h2 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 16px;
  color: var(--c4);
}

.descricao h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background: var(--c3);
}

.descricao p {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2;
  margin-bottom: 16px;
}

.js .js-tabconteudo section {
  display: none;
}

.js-tabconteudo section.ativo {
  display: block !important;
  animation: show 0.5s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
