:root {
  --c1: #faf6ed;
  --c2: #222222;
  --c3: #ffbb55;
  --c4: #ee5544;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
li,
p,
dd,
dt,
dl,
ul {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--c1);
  color: var(--c2);
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template:
    ".      .            menu       menu"
    ".      animais      animais    ."
    ".      animais      animais    ."
    ".      faq          faq        ."
    ".      contato      contato    ."
    ".      .            copy       copy"/
    1fr 120px minmax(300px, 900px) 1fr;
}

.js .js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}

.js .js-scroll.ativo {
  opacity: 1;
  transform: translate3d(-0px, 0, 0);
}
